openapi: 3.0.3
info:
  title: Harbour Space Student Admin API (inferred from HAR)
  version: 1.0.0
  description: |
    Spec inferred from `student.harbour.space.har` network traffic.
    Note: No entries matched `https://harbour.space/api/v1/` exactly.
    Observed v1 API host was `https://student-admin.harbour.space/api/v1/`.
servers:
  - url: https://student-admin.harbour.space/api/v1
    description: Observed v1 API host in HAR
  - url: https://student.harbour.space
    description: Observed NextAuth/session host in HAR
paths:
  /student-page/student-programs/:
    get:
      operationId: getStudentPrograms
      summary: List student programs by token
      parameters:
        - name: token
          in: query
          required: true
          schema:
            type: string
          description: Observed value looked like user email in HAR.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    program_name:
                      type: string
                    program_degree:
                      type: string
                    is_default:
                      type: boolean
                  required:
                    - id
                    - program_name
                    - program_degree
                    - is_default
              example:
                - id: 1005
                  program_name: Computer Science
                  program_degree: Master
                  is_default: true
  /student-page/student-profile:
    get:
      operationId: getStudentProfile
      summary: Get student profile by program id
      parameters:
        - name: student_program_id
          in: query
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                properties:
                  id:
                    type: integer
                  student_id:
                    type: integer
                  first_name:
                    type: string
                  last_name:
                    type: string
                  email:
                    type: string
                    format: email
                  nationality:
                    type: string
                  gender:
                    type: string
                  photo:
                    type: string
                    format: uri
                  id_number:
                    type: string
                  birthday:
                    type: string
                    format: date
              example:
                id: 1311
                student_id: 946
                first_name: Wai
                last_name: Lin Aung
                email: wailin.wilbert@gmail.com
                nationality: MM
                gender: male
  /student-page/student-courses:
    get:
      operationId: getStudentCourses
      summary: Get student courses grouped by year and module
      parameters:
        - name: student_program_id
          in: query
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: true
                  properties:
                    year:
                      type: integer
                    modules:
                      type: array
                      items:
                        type: object
                        additionalProperties: true
                        properties:
                          module_number:
                            type: integer
                          courses:
                            type: array
                            items:
                              type: object
                              additionalProperties: true
                              properties:
                                id:
                                  type: integer
                                title:
                                  type: string
                                code:
                                  type: string
                                credits:
                                  type: integer
                                status:
                                  type: string
                                student_feedback_submitted:
                                  type: boolean
                                start_date:
                                  type: string
                                  format: date
                                end_date:
                                  type: string
                                  format: date
              example:
                - year: 2024
                  modules:
                    - module_number: 1
                      courses:
                        - id: 982
                          title: From Zero to Hero
                          code: HTE401BKK
                          credits: 4
                          status: complete
                          student_feedback_submitted: true
                          start_date: "2024-08-19"
                          end_date: "2024-09-06"

  /api/auth/session:
    get:
      operationId: getAuthSession
      summary: Get current authenticated session
      responses:
        "200":
          description: Active session payload
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                properties:
                  user:
                    type: object
                    properties:
                      name:
                        type: string
                      email:
                        type: string
                        format: email
                  expires:
                    type: string
                    format: date-time
                  accessToken:
                    type: string
              example:
                user:
                  name: John Doe
                  email: johndoe@gmail.com
                expires: "2026-06-04T11:56:44.546Z"
                accessToken: <jwt>
